# Segundo Archivo
Se analiza y procesan los datos de test para una vez entrenado nuestro modelo poder realizar la predicción que busca este trabajo

In [2]:
import pandas as pd
test_df = pd.read_csv(r"./properties_colombia_test.csv")

In [2]:
test_df.columns

Index(['Unnamed: 0', 'id', 'ad_type', 'start_date', 'end_date', 'created_on',
       'lat', 'lon', 'l1', 'l2', 'l3', 'l4', 'l5', 'l6', 'rooms', 'bedrooms',
       'bathrooms', 'surface_total', 'surface_covered', 'currency',
       'price_period', 'title', 'description', 'property_type',
       'operation_type', 'geometry'],
      dtype='object')

In [3]:
test_df.head()

,Unnamed: 0,id,ad_type,start_date,end_date,created_on,lat,lon,l1,l2,...,bathrooms,surface_total,surface_covered,currency,price_period,title,description,property_type,operation_type,geometry
0,852569,pCiVu6rxpBq9dCZfYCXXgA==,Propiedad,2020-09-04,2020-09-12,2020-09-04,4.722000,-74.075000,Colombia,Cundinamarca,...,3.0,660.0,350.0,COP,NaN,Casa En Arriendo/venta En Bogota Sotileza Cod....,"EXCLUSIVA CASA EN VENTA Y ARRIENDO, UBICADA EN...",Casa,Venta,POINT (-74.075 4.722)
1,121379,L0XSQ7mF1TWb1lHRg4n2+A==,Propiedad,2020-10-20,2020-10-20,2020-10-20,NaN,NaN,Colombia,Antioquia,...,3.0,NaN,NaN,COP,Mensual,SE VENDE APARTAMENTO EN EL SECTOR DE ZUÑIGA-EN...,"PR 7555. Apartamento Duplex en unidad cerrada,...",Apartamento,Venta,POINT EMPTY
2,119504,FbWRxZOMNoUzVOLXgkum1A==,Propiedad,2020-10-20,2020-10-22,2020-10-20,6.259253,-75.628381,Colombia,Antioquia,...,1.0,NaN,NaN,COP,NaN,Casa Barata San Javier Solo por este mes,"Casa compraventa escrituras en \n proceso,sala...",Casa,Venta,POINT (-75.6283806 6.25925267)
3,227304,RUV1P+3UOmNdlJ9fBdWFyw==,Propiedad,2020-12-10,9999-12-31,2020-12-10,6.203000,-75.556000,Colombia,Antioquia,...,NaN,2793.0,NaN,COP,NaN,Lote En Venta En Medellin La Calera Cod. VRPR6330,CODIGO 6330LOTE PARA LA VENTA DE 2793MTS,Lote,Venta,POINT (-75.556 6.203)
4,228600,ifKutEAhyovuDNeYrFFV+A==,Propiedad,2020-12-10,2020-12-11,2020-12-10,NaN,NaN,Colombia,Antioquia,...,2.0,NaN,NaN,COP,NaN,Casa en Venta Ubicado en MEDELLIN,Codigo Inmueble 505457 Casa en venta en el sec...,Casa,Venta,POINT EMPTY

In [4]:
#Por la dinámica del ejercicio no podemos variar la cantidad de filas del DataFrame
test_df.shape

(65850, 26)

In [7]:
#Limitamos el test_df a las columnas que utilizaremos en el entrenamiento 
test_df = test_df[["property_type","l2",'lat', "lon",'bedrooms',"bathrooms"]]

In [8]:
test_df.isna().sum()

property_type        0
l2                   0
lat              16417
lon              16417
bedrooms         52447
bathrooms        13796
dtype: int64

In [9]:
#Rellenamos nuevamente con el mismo criterio Baños y Habitaciones
test_df.fillna({"bedrooms":3,"bathrooms":2}, inplace=True)

Utilizamos el método interpolate() de pandas para completar los nulos, esto genera muchísimo ruido a nuestra predicción ya que no necesariamente los cercanos en el dataframe tienen que estar cargados en conjunto.
Al probar el modelo sin estas columnas su rendimiento fue inferior que al agregar las mismas

In [10]:
test_df["lat"] = test_df["lat"].interpolate()

In [11]:
test_df["lon"] =test_df["lon"].interpolate()

In [12]:
test_df[test_df["lat"].isna()]

Empty DataFrame
Columns: [property_type, l2, lat, lon, bedrooms, bathrooms]
Index: []

In [13]:
#Transformamos los valores que están en string a numérico
from sklearn import preprocessing

label_encoder = preprocessing.LabelEncoder()
  
test_df['property_type'] = label_encoder.fit_transform(test_df['property_type'])
test_df['l2'] = label_encoder.fit_transform(test_df['l2'])

In [15]:
test_df.to_csv("test_P.csv")